.certification-container {
    max-width: 350px;
   
    .certification {
        font-weight: bold;
        font-size: 14px;
    }

    .details-container {
        color: #807A63;
        font-size: 12px;
    }
}