<div id="worker-card" class="card mb-4 bg-light">
    <div class="row no-gutters">
        <div class="col-md-3">
            <img src="https://profiles.howard.edu/sites/profiles.howard.edu/files/styles/large/public/adeboye.jpg?itok=2sHn38Dr"
                class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class='row'>
                    <div class='col-md-8'>
                        <div class='row'>
                            <h5 class="card-title text-primary"><a routerLink="/profile">Harry Patterson</a></h5>
                            <i class='fa fa-diamond'></i>
                        </div>
                    </div>
                    <div class='col-md-4'>
                        <div id='star-container' class='col-md-3'>
                                <i class='fa fa-star'></i>
                                <i class='fa fa-star'></i>
                                <i class='fa fa-star'></i>
                                <i class='fa fa-star'></i>
                                <i class='fa fa-star'></i>
                        </div>
                    </div>
                </div>     
                <p id="cardSubtitle" class="card-text text-secondary">Certified Plumber, Kingston, Jamaica</p>
                <p class="card-text card-contact text-info">Phone Number: (876) 937-5139</p>
                <p class="card-text card-contact text-info">Email Address: harryp@gmail.com</p>
            </div>
        </div>
    </div>
</div>