<div id="worker-card' class="card mb-4 bg-light">
  <div class="row no-gutters">
          <div class="col-md-3">
          <img src="https://profiles.howard.edu/sites/profiles.howard.edu/files/styles/large/public/adeboye.jpg?itok=2sHn38Dr" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
          <div class="card-body">
              <h5 class="card-title text-primary">Harry Patterson</h5>
              <p id="cardSubtitle" class="card-text text-secondary">Certified Plumber, Kingston, Jamaica</p>
              <p class="card-text card-contact text-info">Phone Number: (876) 937-5139</p>
              <p class="card-text card-contact text-info">Email Address: harryp@gmail.com</p>
          </div>
          </div>
    </div>
</div>
