<div class="container">
  <div class="card mb-3">
    <div class="row no-gutters card-container">
      <div class="col-lg-2 col-xs-12">
        <img
          src="https://profiles.howard.edu/sites/profiles.howard.edu/files/styles/large/public/adeboye.jpg?itok=2sHn38Dr"
          class="card-img" alt="...">
      </div>
      <div class="col-lg-6 col-xs-12">
        <div class="card-body">
          <div class="text-align-aj">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content.
              This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12">
        <button type="button" class="btn hireme-button btn-outline-primary">Request a Quote</button>
      </div>

    </div>
  </div>
  <div class="container card">
    <div class="card-body">
      This is some text within a card body.
    </div>
  </div>
  <br><br>

  <div class="container card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <h3>Certifications</h3>
          </div>
          <div class="col-lg-6">
            <h3>Reviews</h3>
          </div>
        </div>
      </div>
    </div>
    <br><br>
</div>